<mat-card *ngIf="field != null">
    <div class="field-overview-content">
        <div>
            <mat-card-title>
                {{field.id}}: {{field.key}}
            </mat-card-title>
            <mat-card-subtitle>
                Type: {{field.type}}
                <div *ngIf="field.elementType != null">
                Element Type: {{field.elementType}}
                </div>
            </mat-card-subtitle>
        </div>
        <div>
            <button mat-icon-button (click)="onDelete.emit(field)">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
    </div>
    
</mat-card>
