<mat-card *ngIf="fleet != null" class="fleet-overview">
    <mat-card-header>
        <mat-card-title>
            {{fleet.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{fleet.id}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="fleet-overview-content">
        <div class="fleet-overview-details">
            <p>{{fleet.description}}</p>
        <!-- <mat-divider></mat-divider>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    List of cars:
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel> -->
        </div>
        <div class="fleet-overview-tools">
            <button *ngIf="showDetailsButton" mat-fab color="primary" (click)="onDetails.emit(fleet)">
                <mat-icon>directions_car</mat-icon>
            </button>
            <button *ngIf="showDeleteButton" mat-fab color="warn" (click)="onDelete.emit(fleet)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>  
    </mat-card-content>
</mat-card>
