.fleet-overview {
    .fleet-overview-content {
        display: flex;
        justify-content: space-between;
        .fleet-overview-details {
            flex-grow: 1;
            flex-shrink: 1;
            margin-right: 24px;
        }
        .fleet-overview-tools {
            & > * {
                margin-left: 5px;
            }
        }
    }
}
