<mat-card *ngIf="car != null" class="car-overview">
    <mat-card-header>
        <mat-card-title>
            <p>#{{car.id}}: {{car.name}}</p>
        </mat-card-title>
        <mat-card-subtitle>
            <p>License plate: {{car.licenasePlate}}</p>
            <p>VIN: {{car.vin}}</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="car-overview-content">
        <div class="car-overview-tools">
            <div *ngIf="mode == modetype.ACCEPT_DECLINE" class="tools-accept-decline">
                <button mat-fab color="accent" (click)="onAccept.emit(car)" [disabled]="disabled">
                    <mat-icon>done</mat-icon>
                  </button>
                <button mat-fab color="warn" (click)="onDecline.emit(car)" [disabled]="disabled">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div *ngIf="mode == modetype.MANAGE" class="tools-delete">
                <button mat-fab color="primary" [routerLink]="['/report', car.id]" [disabled]="disabled">
                    <mat-icon>report</mat-icon>
                </button>
                <button mat-fab color="warn" (click)="onDelete.emit(car)" [disabled]="disabled">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
  