<mat-card>
    <mat-card-content class="content">
        <p>New field: </p>
        <mat-form-field>
            <mat-label>Key</mat-label>
            <input matInput [(ngModel)]="key">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="type">
              <mat-option value="number">Number</mat-option>
              <mat-option value="string">String</mat-option>
              <mat-option value="boolean">Boolean</mat-option>
              <mat-option value="list">List</mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field *ngIf="type == 'list'">
            <mat-label>Element type: </mat-label>
            <mat-select [(ngModel)]="elementType">
                <mat-option value="number">Number</mat-option>
                <mat-option value="string">String</mat-option>
                <mat-option value="boolean">Boolean</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-icon-button (click)="fireOnAddNewField()">
            <mat-icon>add</mat-icon>
          </button>
    </mat-card-content>
    
</mat-card>