<mat-sidenav-container class="app-container">
  <mat-sidenav mode="over" [(opened)]="sideBarOpened">
  <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <div class="toolbar">
      <mat-toolbar>
        <button mat-icon-button (click)="sideBarOpened = !sideBarOpened">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Fleet Brother</span>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>