<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<mat-sidenav-container class="app-container">
  <mat-sidenav mode="over" [(opened)]="sideBarOpened">
  <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <div class="toolbar">
      <mat-toolbar>
        <button mat-icon-button (click)="sideBarOpened = !sideBarOpened">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Fleet Brother</span>
        <span class="spacer"></span>
        <button *ngIf="this.firabaseService.token == ''" mat-icon-button (click)="this.firabaseService.requestPermission()">
          <mat-icon>notifications</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>