.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .main-content{
      height: 100vh;
      display:flex;
      flex-direction: column;

      .app-content{
        flex-grow: 1;
        flex-shrink: 1;
        overflow-y: scroll;
        overflow-x: auto;
      }
    }
}


.spacer {
    flex: 1 1 auto;
}

.loading {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}