<div class="fleet-create-content">
    <h1>Create a new fleet</h1>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="inputName" matInput placeholder="My company fleet...">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea [(ngModel)]="inputDescription" matInput placeholder="Description..."></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSubmit()">Create</button>
</div>